{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron-img jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Gestión de Proveedores</h1>
            <p class="lead">Aquí prodrás acceder al listado de proveedores y crear nuevos</p>
        </div>
    </div>

    <div class="container">
        <div class="row mb-3">
            <div class="col-12">
                <a href="{{ path('supplier_create') }}"  >Crear nuevo proveedor</a>
                <br>
                <a href="{{ path('supplier') }}"  >Listado de proveedores</a>
            </div>
        </div>
    </div>
{% endblock %}

