{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron-img jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Gestión de Proveedores</h1>
            <p class="lead">Aquí prodrás acceder al listado de proveedores y crear nuevos</p>
        </div>
    </div>
    <div class="container">
        <div class="row mb-3">
            <div class="col-12">
                <a href="{{ path('supplier') }}" style="width:70%;margin: 10px; padding: 8px" class="button">Crear nuevo proveedor</a>
            </div>
            <div class="col-12 mt-3">
                <a href="{{ path('supplier') }}" style="width:70%; margin: 10px; padding: 8px" class="button">Listado de proveedores</a>
            </div>
        </div>

    </div>
{% endblock %}

