{% extends 'base.html.twig' %}

{% block title %}Todos los proveedores{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h2>Listado de proveedores</h2>
    <table>
        <tr>
            <th>Nombre del proveedor</th>
            <th>Tipo de proveedor</th>
            <th>Acciones</th>
        </tr>
        {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.name }}</td>
                <td>{{ supplier.type }}</td>
                <td class="buttons">
                    <a href="{{ path('supplier_detail',{'id':supplier.id}) }}">Ver</a>
                    <a href="{{ path('supplier_edit',{'id':supplier.id}) }}">Editar</a>
                    <a href="">Borrar</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
