{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ supplier }}</h1>

{# Comentarios #}

<div>
    We'll show a list of suppliers in here!
</div>

<h2>List ({{ list|length }})</h2>

<ul>
    {% for list in list %}
        <li>{{ list }}</li>
    {% endfor %}
</ul>
{% endblock %}